<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link href="../Content/app.css" rel="stylesheet" type="text/css">

<!-- content of webpage -->
<main>
  <h1 id ="aboutTitle"><%= title %></h1>

  <section>
      <h2>Our Story</h2>
      <p id = "description">
        Our story began as a passion project by a group of visionary university students determined to revolutionize the way talent meets tech in the job market.
        Frustrated by the traditional job search process, we embarked on a journey to create a platform that mirrors the dynamic nature of the tech industry. TechJobs was born out of a shared belief that finding the perfect job or the ideal candidate should be as seamless as coding your favorite program.
        Our team, fueled by the energy of youth and the spirit of innovation, carefully crafted a platform that transcends the limitations of traditional job boards. We understand the unique challenges of the tech industry, and TechJobs is designed to be the catalyst that connects ambitious tech enthusiasts with their dream opportunities.
        Through late-night coding sessions, brainstorming marathons, and a relentless commitment to excellence, we've curated a platform that not only showcases your skills and aspirations but also facilitates meaningful connections. TechJobs is not just a job finder; it's a dynamic ecosystem where talents are discovered, and careers are launched.
        Join us on this exciting journey as we redefine the narrative of job searching in the tech industry. Whether you're a coding prodigy looking for your next challenge or a tech company seeking the brightest minds, TechJobs is your go-to destination.
        At TechJobs, our story is still unfolding, and we invite you to be a part of the narrative. Embrace innovation, discover opportunities, and let your tech journey begin with us. Together, let's shape the future of the tech workforce!
      </p>
  </section>
  <br>

  <section>
    <h2>Our Mission</h2>
    <p id = "description">
      At Tech Jobs Hub, our mission is to connect exceptional tech talent with innovative companies, fostering a dynamic ecosystem that drives technological advancements and propels careers to new heights. We strive to provide a platform that transcends traditional job search, offering a seamless and empowering experience for both job seekers and employers.
    </p>
  </section>
  <br>
</main>

<br>
<br>
<br>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
