<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link href="../Content/app.css" rel="stylesheet" type="text/css">

<!-- content of webpage -->
<main>
  <br>
  <br>
  <br>
  <h1>Get the most out of your job search with</h1>
  <h1 id ="homepage"><%= title %></h1>

  <img src=https://news.umanitoba.ca/wp-content/uploads/2021/11/Career-Month-3-UM-Today--1536x1023.png width="500">
  <br>
  

  <br>
  <br>
  <section class="hero">
  <!-- Hero button -->
  <a href="/tracklist" class="hero-button">Get Started</a>
</section>
  <br>
  <br>
  <br>
  
  <br>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
