<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<link href="../Content/app.css" rel="stylesheet" type="text/css">

<!-- content of webpage -->
<main>
  <br>
  <br>
  <br>
  <h1>Get the most out of your job search with</h1>
  <h1 id ="homepage"><%= title %></h1>

  <section class="hero">
    <!-- Hero button -->
    <a href="/tracklist" class="hero-button">Get Started</a>
  </section>
  <br>
  <br>

  <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://news.umanitoba.ca/wp-content/uploads/2021/11/Career-Month-3-UM-Today--1536x1023.png" alt="..." width='700'>
    </div>
    <div class="carousel-item">
      <img src="https://www.usnews.com/cmsmedia/65/cc/5e8e982e408db701f9e4725c88f5/210503-computerprogrammer-stock.jpg" alt="..." width='700'>
    </div>
    <div class="carousel-item">
      <img src="https://www.enterprisenetworkingplanet.com/wp-content/uploads/2022/02/Top-Computer-Networking-Jobs-scaled-e1645117432790.jpeg" alt="..." width='700'>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
