<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<link href="../Content/app.css" rel="stylesheet" type="text/css">

<br>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <br>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="jobTextArea">Job</label>
                    <textarea type="text" class="form-control"
                    id="jobTextArea"
                    placeholder="Enter the Job"
                    name="Job" 
                    required>
                    <%= Task.Job %>
                    </textarea>
                </div>

                <br>

                <div class="form-group">
                    <label for="salaryTextArea">Salary</label>
                    <textarea type="text" class="form-control"
                    id="salaryTextArea"
                    placeholder="Enter the Salary"
                    name="Salary" 
                    required>
                    <%= Task.Salary %>
                    </textarea>
                </div>

                <br>

                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the a brief description of the job"
                    name="Description" 
                    required>
                    <%= Task.Description %>
                    </textarea>
                </div>

                <br>

                <div class="form-group">
                    <label for="companyTextArea">Company</label>
                    <textarea type="text" class="form-control"
                    id="companyTextArea"
                    placeholder="Enter the Company"
                    name="Company" 
                    required>
                    <%= Task.Company %>
                    </textarea>
                </div>

                <br>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/tracklist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>

</div>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>